<h1 class="text-primary text-center">Snackchat</h1>

<div class="padding-bottom">
  <div class="btn-group btn-group-justified">
    <a href="/" class="btn btn-primary">Snacks</a>
    <a href="/send_snack" class="btn btn-primary">Send</a>
  </div>
</div>