<div class="row">
	<div class="col-xs-4 col-xs-offset-4">
		<img class="img-responsive" src="/images/logo.png">
	</div>
</div>

<div class="padding-bottom">
  <div class="btn-group btn-group-justified">
    <a href="/" class="btn btn-primary">Snacks</a>
    <a href="/send_snack" class="btn btn-primary">Send</a>
  </div>
</div>