<div class="list-group">
  <% @all_snacks.each do |snack| %>
    <div class="list-group-item">
      <p class="list-group-item-text">
        Snack from <%= snack.username %>
      </p>
    </div>
  <% end %>
</div>