<div class="panel panel-default">
  <div class="panel-body">

    <form action="/login" method="POST">
      
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="email" required>
      </div>
      <div class="pull-right">
        <a href="/signup" class="btn btn-default">Create account</a>
        <button type="submit" class="btn btn-default">Login</button>
      </div>
    </form>

    
  </div>
</div>